@model IEnumerable<TenMan.Web.Data.Entities.Request>

@{
    ViewData["Title"] = "Lista de solicitudes";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Nueva solicitud</a>
</p>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDateLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speciality.Name)
            </th>
            <th>
                Operario
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        string icono = "~/images/amarillo.png";

                        if (item.ActualStatus == "Generada")
                        {
                            icono = "~/images/rojo.png";
                        }
                        else if (item.ActualStatus == "Finalizada")
                        {
                            icono = "~/images/verde.png";
                        }
                    }
                    <img src="@Url.Content(icono)" alt="" height='18' width='18'>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDateLocal)
                </td>

                <td>
                    @if (item.EndDateLocal != DateTime.MinValue)
                    {
                        @Html.DisplayFor(modelItem => item.EndDateLocal)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speciality.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Worker.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks);
                </td>
                <td>
                    <a asp-action="EditRequest" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                    <a asp-action="DetailsRequest" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> |
                </td>
            </tr>
        }
    </tbody>
</table>

