@model TenMan.Web.Data.Entities.Request

@{
    ViewData["Title"] = "Detalles";
}

<h2>Solicitud</h2>
<div class="row">
    <div class="col-md-6">
        <div>
            <h4>Locatario</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Tenant.User.Document)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tenant.User.Document)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Tenant.User.FirstName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tenant.User.FirstName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Tenant.User.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tenant.User.LastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Tenant.User.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tenant.User.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Tenant.User.PhoneNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tenant.User.PhoneNumber)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <h4>Detalles de la solicitud</h4>
            <hr />
            <dl class="dl-horizontal">
                @*<dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>*@
                @*<dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>*@
                <dt>
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.StartDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EndDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Speciality.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Speciality.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Worker.User.FullName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Worker.User.FullName)
                </dd>
                <dt>
                    Imagenes
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Images.Count)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <a asp-action="EditRequest" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="AddImage" asp-route-id="@Model.Id" class="btn btn-primary">Agregar Imagen</a>
    <a asp-action="Details" asp-route-id="@Model.Tenant.Id" class="btn btn-success">Volver al Locatario</a>
</div>
<div class="row">
    <div class="col-md-3">
        <div>
            <h4>Imagenes</h4>
            @if (Model.Images.Count == 0)
            {
                <h5>No hay imagenes hasta el momento.</h5>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Images.FirstOrDefault().ImageUrl)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Images)
                        {
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                                    {
                                        <img src="@Url.Content(item.ImageUrl)" alt="Image" style="width:200px;height:200px;max-width: 100%; height: auto;" />
                                    }
                                </td>
                                <td>
                                    <a asp-action="DeleteImage" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    <div class="col-md-9">
    </div>
</div>
