@model TenMan.Web.Data.Entities.Unit

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Unidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apartment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apartment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SquareMeters)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SquareMeters)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditUnit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a> |
    <a asp-action="AddRequest" asp-route-id="@Model.Id" class="btn btn-primary">Agregar Solicitud</a> |
    <a asp-action="IndexExpenses" asp-route-id="@Model.Committee.Id" class="btn btn-primary">Ver Expensas</a> |
    <a asp-action="IndexUnit" asp-route-id="@Model.Id" class="btn btn-success">Volver a la lista</a>
</div>
@if (Model.Requests.Count == 0)
{
    <h5>Esta unidad aún no tiene solicitudes</h5>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Requests.FirstOrDefault().StartDateLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Requests.FirstOrDefault().EndDateLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Requests.FirstOrDefault().Speciality)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Requests.FirstOrDefault().Worker.User.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Requests.FirstOrDefault().ActualStatus)
                </th>
                <th>
                    Imagenes
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Requests)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDateLocal)
                </td>
                <td>
                    @if (item.EndDate != DateTime.MinValue)
                    {
                        Html.DisplayFor(modelItem => item.EndDateLocal);
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speciality.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Worker.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Images.Count)
                </td>
                <td>
                    <a asp-action="EditRequest" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                    <a asp-action="DetailsRequest" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> |
                    <a asp-action="DeleteRequest" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}