@model TenMan.Web.Data.Entities.Payment

@{
    ViewData["Title"] = "Detalles de pagos";
}

<h2>Detalles de los pagos</h2>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PdfFile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PdfFile)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditPayment" class="btn btn-warning" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="IndexPayments" class="btn btn-success">Voler a Pagos</a>
</div>
