@model IEnumerable<TenMan.Web.Data.Entities.Tenant>

@{
    ViewData["Title"] = "Index";
}
<div class="tenman-pagedesc">
    <p class="tenman-title">Locatarios</p>
    <p class="text-muted">Desde aquí puedes gestionar todos los locatarios del consorcio</p>
</div>
    <div class="panel panel-default">
    <div class="panel-heading tenman-panel-heading2">
        Lista de Locatarios
        </div>
        <div class="panel-body">
        <p>
            <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.User.Document)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User.PhoneNumber)
                    </th>
                    <th>
                        Unidades
                    </th>
                    <th>
                        Solicitudes
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.User.Document)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.User.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.User.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.User.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.User.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.User.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Units.Count)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Payments.Count)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="glyphicon glyphicon-pencil"></i></a> |
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-eye-open"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
   
