@model TenMan.Web.Data.Entities.Committee

@{
    ViewData["Title"] = "Detalles del Consorcio";
}

<h2>Detalles del Consorcio</h2>

<div>
    <h4>Consorcio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Neighborhood)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Neighborhood)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id">Editar</a> |
    <a asp-controller="Committees" asp-action="AddUnit" class="btn btn-primary" asp-route-id="@Model.Id">Agregar Unidad</a> |
    <a asp-controller="Committees" asp-action="AddWorker" class="btn btn-primary" asp-route-id="@Model.Id">Agregar Especialista</a> |
    <a asp-controller="Committees" asp-action="IndexCosts" class="btn btn-warning" asp-route-id="@Model.Id">Administrar Costos</a> |
    <a asp-controller="Committees" asp-action="CalculateExpenses" class="btn btn-danger" asp-route-id="@Model.Id">Calcular Expensas</a> |
    @*<a asp-controller="Committees" asp-action="ViewExpenses" class="btn btn-info" asp-route-id="@Model.Id">Ver Expensas</a> |*@
    <a asp-controller="Committees" asp-action="IndexExpenses" class="btn btn-info" asp-route-id="@Model.Id">Ver Expensas</a> |
    <a asp-action="Index" class="btn btn-success">Volver a la lista</a>
</div>
@if (Model.Units.Count == 0)
{
    <h5>Este consorcio aún no dispone de unidades</h5>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Units.FirstOrDefault().Floor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Units.FirstOrDefault().Apartment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Units.FirstOrDefault().Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Units.FirstOrDefault().Percentage)
                </th>
                <th>
                    Solicitudes
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Units)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Floor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apartment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Requests.Count)
                </td>
                <td>
                    <a asp-action="EditUnit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                    <a asp-action="DetailsUnit" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> |
                    <a asp-action="DeleteUnit" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}