@model TenMan.Web.Data.Entities.Committee

@{
    ViewData["Title"] = "Detalles del Consorcio";
}

<div class="tenman-pagedesc">
    <p class="tenman-title">Detalles del Consorcio</p>
    <p class="text-muted">Desde aquí puedes gestionar todo lo relacionado al consorcio</p>
</div>
<div class="panel panel-default">
    <div class="panel-heading tenman-panel-heading2">
        Consorcio @Model.Description
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Neighborhood)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Neighborhood)
            </dd>

            <dt> @Html.DisplayNameFor(model => model.Address)</dt>
            <dd>@Html.DisplayFor(model => model.Address)</dd>
        </dl>
        @if (Model.Administrator != null)
        {
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.Administrator.User.FullName)</dt>
                <dd>@Html.DisplayFor(model => model.Administrator.User.FullName)</dd>
                <dt>@Html.DisplayNameFor(model => model.Administrator.User.Address)</dt>
                <dd>@Html.DisplayFor(model => model.Administrator.User.Address)</dd>
            </dl>
        }

        <div class="btn-toolbar mb-3">
            <div class="btn-group">
                @*<a aspx-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id">Editar</a>*@
                <a asp-controller="Committees" asp-action="AddUnit" class="btn btn-default" asp-route-id="@Model.Id">Unidades</a>
                <a asp-controller="Committees" asp-action="AddField" class="btn btn-default" asp-route-id="@Model.Id">Rubros de Gasto</a>
                <a asp-controller="Committees" asp-action="AddWorker" class="btn btn-default" asp-route-id="@Model.Id">Contratistas</a>
                <a asp-controller="Committees" asp-action="ExpenseSummarySettings" class="btn btn-default" asp-route-id="@Model.Id">Opciones</a>
            </div>
            <div class="btn-group me-2">
                @*<a asp-controller="Expenses" asp-action="CurrentExpense" class="btn btn-secondary" asp-route-id="@Model.Expenses.Where(e => e.Current = true).First().Id">Liquidación Actual</a>*@
                @*<a asp-controller="Committees" asp-action="CalculateExpenses" class="btn btn-danger" asp-route-id="@Model.Id">Calcular Expensas</a>*@
                <a asp-action="ExpenseSummary" class="btn btn-danger" asp-route-id="@Model.Id">Liquidación Actual</a>
                @*<a aspxxx-controller="Committees" asp-action="ViewExpenses" class="btn btn-info" asp-route-id="@Model.Id">Ver Expensas</a> |*@
                <a asp-action="IndexExpenses" class="btn" asp-route-id="@Model.Id">Ver Expensas</a>
                <a asp-controller="Expenses" asp-action="Index" class="btn" asp-route-id="@Model.Id">Ver Expensas 2</a>
                <a asp-action="Balance" class="btn btn-primary" asp-route-id="@Model.Id">Balance</a>
                <a asp-action="Index" class="btn btn-success">Volver a la lista</a>
            </div>
        </div>
     </div>
</div>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">
            Unidades
        </a>
    </li>
    <li role="presentation">
        <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">
            Categorías
        </a>
    </li>
    <li role="presentation">
        <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">
            Rubros
        </a>
    </li>
</ul>
<div class="tab-content" style="margin-top:15px">
    <div role="tabpanel" class="tab-pane active" id="tab1">
        @if (Model.Units.Count == 0)
        {
            <h5>Este consorcio aún no dispone de unidades</h5>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-heading tenman-panel-heading2">
                    Unidades
                </div>
                <div class="panel-body">
                    <p>
                        <a asp-controller="Committees" asp-action="AddUnit" class="btn btn-primary" asp-route-id="@Model.Id">Agregar Unidad</a>
                    </p>
                    <table class="table table-tenman table-striped table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Units.FirstOrDefault().Floor)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Units.FirstOrDefault().Apartment)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Units.FirstOrDefault().Number)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Units.FirstOrDefault().Percentage)
                                </th>
                                <th>
                                    Solicitudes
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Units)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Floor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Apartment)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Number)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Percentage)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Requests.Count)
                                    </td>
                                    <td>
                                        <a asp-action="EditUnit" asp-route-id="@item.Id" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-pencil"></i></a> |
                                        <a asp-action="DetailsUnit" asp-route-id="@item.Id" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-eye-open"></i></a> |
                                        <a asp-action="DeleteUnit" asp-route-id="@item.Id" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
    <div role="tabpanel" class="tab-pane" id="tab2">
        <div class="panel panel-default">
            <div class="panel-heading tenman-panel-heading2">
                Categorias de Expensas
            </div>
            <div class="panel-body">
                <p>
                    <a asp-controller="Committees" asp-action="AddExpenseCategory" class="btn btn-primary" asp-route-id="@Model.Id">Agregar Categoria</a>
                </p>
                <table class="table table-bordered table-striped table-tenman table-sm">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Categories.FirstOrDefault().Letra)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Categories.FirstOrDefault().Description)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Categories.Count == 0)
                        {
                            <tr>
                                <td>
                                    Aún no has ingresado ninguna categoría de Expensas
                                </td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var item in Model.Categories)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Letra)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        <a asp-action="EditCategory" asp-route-id="@item.Id" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-pencil"></i></a> |
                                        <a asp-action="DetailsCategory" asp-route-id="@item.Id" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-eye-open"></i></a> |
                                        <a asp-action="DeleteCategory" asp-route-id="@item.Id" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab3">
        <div class="panel panel-default">
            <div class="panel-heading tenman-panel-heading2">
                Rubros
            </div>
            <div class="panel-body">
                <p>
                    <a asp-controller="Committees" asp-action="AddField" class="btn btn-primary" asp-route-id="@Model.Id">Agregar Rubro</a>
                </p>
                <table class="table table-hover table-tenman table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Fields.FirstOrDefault().Number)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Fields.FirstOrDefault().Description)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Fields)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Number)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    <a asp-action="EditField" asp-route-id="@item.Id" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-pencil"></i></a> |
                                    <a asp-action="DetailsField" asp-route-id="@item.Id" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-eye-open"></i></a> |
                                    <a asp-action="DeleteField" asp-route-id="@item.Id" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
