@model IEnumerable<TenMan.Web.Data.Entities.Committee>

@{
    ViewData["Title"] = "Lista de Consorcios";
}

<div class="tenman-pagedesc">
    <p class="tenman-title">Tus Consorcios</p>
    <p class="text-muted">Desde aquí puedes gestionar todos tus consorcios</p>
</div>
<div class="panel panel-default">
    <div class="panel-heading tenman-panel-heading2">
        Lista de Consorcios
    </div>
    <div class="panel-body">
        <p>
            <a asp-action="Create" class="btn btn-primary">Agregar Consorcio</a>
        </p>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Neighborhood)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Neighborhood)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            <a asp-action="Edit" class="btn btn-warning btn-xs" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a> |
                            <a asp-action="Details" class="btn btn-info btn-xs" asp-route-id="@item.Id"><i class="glyphicon glyphicon-eye-open"></i></a> |
                            <a asp-action="Delete" class="btn btn-danger btn-xs" asp-route-id="@item.Id"><i class="glyphicon glyphicon-trash"></i></a>
                         </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

